# Python
__pycache__/
*.py[cod]
*.sqlite3
*.env
*.log
*.pot
*.pyc
*.pyo
*.pyd

# Django
*.db
*.sqlite3
/static/
/media/
.env

# VS Code
.vscode/

# OS
.DS_Store
Thumbs.db

# Other
node_modules/
